/*
* @Author: ³ÌÒË·å
* @Date:   2019-05-10 16:37:12
* @Last Modified by:   程宜峰
* @Last Modified time: 2019-05-11 13:34:59
*/
body{
	margin: 0;
	padding:0;
	background: #333;
	overflow: hidden;/*超出部分被修剪，且不可见*!*/
            background: url("bgnf.jpg");
            background-size: 100%;
            background-repeat: no-repeat;
}

*{margin:0px;
          padding: 0px;
        }
        .snowfall-flakes:before,.snowfall-flakes:after{
            content: "";/*内容 激活伪元素的必要因素*/
            position: absolute;
            width: 20px;
            height: 30px;
            background-color: darksalmon;
            border-radius: 10px 10px 0 0;
            transform: rotate(-45deg);
        }
        .snowfall-flakes:after{
            content: "";
            transform: rotate(45deg);
            left: 7px;
        }
        body,html{
            height: 100%;
            width: 100%;
        }

a:link {
	color: #ff0000; 
	text-decoration: none;
}
a:visited {
	color: white;
 	text-decoration: none;
 }
a:hover {
	color: red;
	text-decoration: underline;

}

.wrap{
	position: absolute;
	top:70%;
	left: 40%;
}
.middle{
	position: absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%,-50%);
}

.pan{
	color: yellow;
	position: absolute;
	left: 1450px;
}

a{
		text-decoration:none;
}


.bar{
	width: 6px;
	height: 60px;
	background: white;
	display: inline-block;
	transform-origin:bottom center;
	animation:loading 1.5s ease-in-out infinite;
}

.bar1{
	animation-delay:0.1s;
}

.bar2{
	animation-delay:0.2s;
}

.bar3{
	animation-delay:0.3s;
}

.bar4{
	animation-delay:0.4s;
}

.bar5{
	animation-delay:0.5s;
}

.bar6{
	animation-delay:0.6s;
}

.bar7{
	animation-delay:0.7s;
}

.bar8{
	animation-delay:0.8s;
}

@keyframes loading{
	0%{
		transform:scaleY(0.1);
		background: #fff;
	}
	50%{
		transform:scaleY(1);
		background: #2ecc71;
	}
	100%{
		transform:scaleY(0.1);
		background: transparent;
	}
}